.userItems--closed {
  display: none;
}
.userItems {
  display: flex;
  z-index: 10;
  flex-direction: column;
  position: relative;
  height: 500px;
  margin-bottom: -500px;
  overflow-y: auto;
  background-color: #18181b;
  width: 100%;
  padding-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 16px 0px,
    rgba(0, 0, 0, 0.4) 0px 0px 4px 0px;
  &__item,
  &__item--short {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px 8px 10px;
    cursor: pointer;
    &:hover {
      background-color: #25252a;
    }
    &__icon {
      font-size: 15px;
      color: white;
      margin-right: 10px;
    }
    &__desc {
      display: flex;
      flex-direction: column;
      &__top {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__name {
          color: white;
        }
        &__dot {
          display: block;
          margin-left: 7px;
          background-color: red;
          width: 10px;
          height: 10px;
          border-radius: 100%;
        }
      }
      &__game {
        font-size: 10px;
      }
    }
  }
}
.userItems__item--short {
  padding: 13px 0px 13px 10px;
}
