@import "../../utils/Variables.scss";

.topStreamers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  &__stream {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    &__thumbnail {
      display: flex;
      position: relative;
      &__count {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        padding: 5px 10px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
    &__info {
      display: flex;
      justify-content: flex-start;
      min-width: 100px;
      max-width: 250px;
      margin: 0 auto;
      text-align: flex-start;
      flex-direction: column;
      &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: $poppins;
        font-weight: 500;
        color: rgb(240, 222, 222);
      }
      &__username {
        font-family: $poppins;
        font-weight: 400;
        color: rgb(223, 198, 198);
        font-size: 14px;
      }
      &__game {
        font-family: $poppins;
        font-weight: 400;
        color: rgb(223, 198, 198);
        font-size: 14px;
      }
    }
  }
}

//   text-overflow: ellipsis;
