.navbar {
  display: flex;
  width: 100vw;
  max-width: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  &__search {
    width: clamp(200px, 35vw, 400px);
    height: clamp(35px, 6vw, 45px);
    font-size: 14px;
    font-weight: 400;
    outline-color: rgb(239, 239, 241);
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    padding-left: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    transition: border 0.3s;
    &:focus {
      outline: none;
      border: 2px solid #772ce8;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.15);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: clamp(40px, 7vw, 53px);
    height: clamp(35px, 6vw, 45px);
    cursor: pointer;
    &__svg {
      color: white;
      font-size: clamp(20px, 3.5vw, 27px);
    }
  }
}
