//Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@import "./utils/Variables";
@import "./components/navbar/Navbar";
@import "./components/navbar/queryResult/categoryItem/CategoryItem";
@import "./components/navbar/queryResult/userItem/UserItem";
@import "./components/streamersForGame/StreamersForGame";
@import "./components/topGames/TopGames.scss";
@import "./components/topStreamers/TopStreamers";
@import "./components/liveStream/LiveStream";
@import "./components/channelInfo/ChannelInfo";
@import "./components/App";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #17171a;
  color: #8892b0;
  font-family: "Kanit", sans-serif;
  -webkit-font-smoothing: antialiased;
  ::-webkit-scrollbar {
    width: 11px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
  }
}
