//Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@import "./components/App";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #17171a;
  color: #8892b0;
  font-family: "Kanit", sans-serif;
  -webkit-font-smoothing: antialiased;
}
